body {
    margin: 8% 0 0 0;
    overflow-x: hidden;
}

p {
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}

.menu {
    z-index: 99;
    top: 0%;
    margin: 0;
    width: 100%;
    position: fixed;
    background-color: var(--cl-darkgrey);

    font-size: 120%;
}
.menulogo {
    margin: .3%;
}
.socials {
    text-align: center;
}
.menuflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menuwrapper:hover {
    transition: .3s;
    background-color: #FFFFFF80;
}
.submenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 65%;
    background-color: var(--cl-menu);
    padding: .5%;
    border-radius: 3px;
}
.submenu div {
    padding: 3% 2%;
    display: flex;
    border-radius: 2px;
}
.submenu div i {
    margin-right: 2%;
}
.submenu div:hover {
    background-color: var(--cl-darkgrey);
    color: var(--cl-menu);
    transition: .3s;
}
.submenu div a {
    color: inherit;
}


.veneznousvoir {
    border: 1px solid black;
    padding: 2vw 10vw;
    background-image: url('img/bg-stardust.jpg') no-repeat;
    background-color: #606060;
    color: white;
    font-size: 22px;
}
.vnv > p {
    margin-top: 1%;
    margin-bottom: 1%;
}
.vnv {
    width: 48%;
}
footer {
    padding: 2vw;
    overflow-x: hidden;
    background-color: var(--cl-grey);
    color: white;
    font-size: 20px;
}
footer > p {
    margin-top: 2vw;
}
