:root {
    --cl-orange: #d28774;
    --cl-blue: #99afbf;
    --cl-brown: #7f6e6b;
    --cl-grey: #565656;
    --cl-lightgrey: #efefef;
    --cl-darkgrey: #404040;
    --cl-menu: #e0d1be;
}

.-cl-black {color: #000000;}
.-cl-white {color: #FFFFFF;}
.-cl-orange {color: var(--cl-orange);}
.-cl-blue {color: var(--cl-blue);}
.-cl-brown {color: var(--cl-brown);}
.-cl-grey {color: var(--cl-grey);}
.-cl-lightgrey {color: var(--cl-lightgrey);}
.-cl-darkgrey {color: var(--cl-darkgrey);}
.-cl-menu {color: var(--cl-menu);}

h1 {
    font-size: 36px;
}
h1, h2, h3, h4, h5 {
    font-weight: normal; 
    margin: 0;
}
ul {
    margin: 0;
}
.-invis {opacity: 0;}
.-str {font-weight: bold;}
.-it {font-style: italic;}
.-tdu {text-decoration: underline;}
.-tac {text-align: center;}
.-taj {text-align: justify;}
.-tar {text-align: right;}
.-fl-r {float: right;}
.-fl-l {float: left;}
.-flex-se {
    display: flex;
    justify-content: space-evenly;
}
.-flex-sa {
    display: flex;
    justify-content: space-around;
}
.-flex-sb {
    display: flex;
    justify-content: space-between;
}
.-flex-ce {
    display: flex;
    justify-content: center;
}
.-flex-fs {
    display: flex;
    justify-content: flex-start;
}
.-flex-btm {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.-fs-18 { font-size: 18px;}
.-fs-20 { font-size: 20px;}
.-fs-24 { font-size: 24px;}
.-fs-32 { font-size: 32px;}



.-btn-blue {
    background-color: var(--cl-blue);
    color: white;
    border: 0px;
    border-radius: 5px;
}
.-btn-blue:hover {
    background-color: var(--cl-orange);
    transition: .3s;
}
.-btn-orange {
    background-color: var(--cl-orange);
    color: white;
    border: 0px;
    border-radius: 5px;
}
.-btn-orange:hover {
    background-color: var(--cl-blue);
    transition: .3s;
}
.-white-outline {
    border: 1px solid white;
}
.-btn-big {
    width: 20vw;
    font-size: 24px;
    padding: 12px 5px;
}
.-btn-medium {
    width: 15vw;
    font-size: 20px;
    padding: 1% .5%;
}
.-btn-wide {
    width: 20vw;
    font-size: 20px;
    padding: 3% 1%;
}
.-btn-big a, .-btn-medium a, .-btn-wide a {
    color: white;
}
.-mrg-btm-3 {margin-bottom: 3%;}