body {
    background-color: var(--cl-lightgrey);
}
.left {
    width: 30%;
    padding: 2%;
}
.left img {
    width: 100%;
}
.right {
    width: 70%;
    padding: 2%;
    background-color: white;
}
button {
    margin-top: 2%;
}