.main {
    padding: 0 10%;
}
.main h2 {
    font-size: 250%;
}

.jobs {
    width: 96%;
    margin: 2%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.component-job {
    padding: 2vw;
    margin: 2vw;
    border: 1px solid black;

    min-width: 25%;
    max-width:  40%;
    flex-grow: 1;

    text-align: center;
}