<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{asset('css/base.css')}}"/>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>

        <section class="menu">
            <a href="../">Accueil</a>
            <a href="../news">Actualités</a>
            <a href="../hiring">Recrutement</a>
            <a href="../partners">Partenaires</a>
            <div class="socials">
                {% for r in reseaux %}
                <a href="{{r.lien}}"><img class="social-img" src="{{ vich_uploader_asset(r, 'imageFile') | imagine_filter('social') }}" alt="{{ r.imageName }}"></a>
                {% endfor %}
            </div>
        </section>

        {% block body %}{% endblock %}

    </body>
</html>
