{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/competence-detail.css')}}">
{% endblock %}

{% block body %}
<section>
    <div>
        <
    </div>

    <div class="contenu">{{ c.contenu | raw }}</div>
</section>
{% endblock %}