{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/home.css')}}">
<link rel="stylesheet" href="{{asset('css/component/partenaire.css')}}">
{% endblock %}

{% block body %}
    <h2>Partenaires</h2>
    <div class="partners">
        {% for p in partners %}
        <div class="component-job">
            <img class= "partner-img" src="{{ vich_uploader_asset(p, 'imageFile') | imagine_filter('partner') }}" alt="{{ p.imageName }}"">
        </div>
        {% endfor %}
    </div>
{% endblock %}