.jobs {
    width: 96vw;
    margin: 2vw;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.component-job {
    padding: 2vw;
    margin: 2vw;
    border: 1px solid black;

    min-width: 25%;
    max-width:  40%;
    flex-grow: 1;

    text-align: center;
}